<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <AppSettings>
    <add key="endpoint" value="https://api.coindesk.com/v1/bpi/historical/close.json"/>
  </AppSettings>
</configuration>